.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	img:hover {
		cursor: pointer;
	}

	.links {
		display: flex;
		list-style-type: none;

		& li {
			padding: 10px;
			list-style-type: none;

			& a {
				text-decoration: none;
				color: #000;

				&:hover {
					color: rgb(153, 96, 6);
				}
			}
		}
	}
}
